{% extends 'base.html' %} {% block title %} Audio Player {% endblock title %}{% load widget_tweaks %} {% block addvideo %} {%load crispy_forms_tags %} {% load widget_tweaks %}


<button type="button" class="btn btn-outline-success changeaudiotext" data-bs-toggle="modal" data-bs-target="#exampleModal1"></button>

<!-- Modal -->
<div class="modal fade " id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content  p-5 bg-secondary">
            <div class="modal-header">
                <h5 class="modal-title " id="exampleModalLabel">Add Audio</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <h1 class="my-5 text-center">Add Audio</h1>
            <form method="post" action="addaudio" enctype="multipart/form-data">
                <!-- use by widget_tweaks{{ form.title|add_class:'form_control container' }} -->
                {% csrf_token %} {{form}}
                <!-- {% csrf_token %} {{form|crispy}} -->

                <!-- <div class="input-group mb-3">

                    <input type="file" name="cover" class="form-control file input-group-text text-success bg-dark border-success" id="inputGroupFile01">
                </div>
                <div class="input-group mb-3">

                    <input type="text" name="title" class="form-control  text-right text-success bg-dark border-success" placeholder="Enter Audio Title Here" required>
                </div>
                <div class="input-group mb-3">

                    <input type="file" name="audio" class="form-control file input-group-text text-success bg-dark border-success" id="inputGroupFile01">
                </div> -->
                <button type="submit" class="btn btn-success border-dark text-dark container my-3 ">Add</button>
            </form>
        </div>
    </div>
</div>
{% endblock addvideo %}{% block body %}

<!-- model -->
<style>
    .bta {
        margin-left: -50%;
    }
    
    @media screen and (min-width:770px) {
        .searchcontent::after {
            content: "Search";
        }
        .changeaudiotext::after {
            content: "Add Audio";
        }
        .customaudiobox {
            width: 90vw;
            height: 40vw;
            display: inline-block;
            margin: 5vw 5vw 1vw 5vw;
            padding: 5vw 1vw 2vw 1vw;
            border-radius: 10%;
        }
        .customimage {
            width: 23vw;
            display: inline;
            border-radius: 50%;
            height: 20vw;
            margin-bottom: 5vw;
            margin-right: 5vw;
        }
        .audiotitle {
            display: inline;
        }
        audio {
            /*border-radius: 90px;*/
            width: 250%;
            height: 20%;
            margin-top: 5%;
            margin-bottom: 5%;
        }
        audio::-webkit-media-controls-timeline {
            background-color: turquoise;
            border-radius: 3000rem;
            margin-left: 1%;
            margin-right: 1%;
        }
        audio::-webkit-media-controls-volume-slider {
            border-radius: 25%;
            background-color: brown;
            /* border-radius: 25px 0px 0px 25px; */
            padding-left: 8%;
            padding-right: 8%;
        }
        /* TIME */
        audio::-webkit-media-controls-time-remaining-display {
            color: red;
            font-size: 100%;
        }
        audio::-webkit-media-controls-current-time-display {
            color: cyan;
            font-size: 100%;
            margin-left: 1%;
        }
        audio::-webkit-media-controls-play-button {
            /* color: violet; */
            padding-left: 2%;
            background-color: turquoise;
            border-radius: 100%;
        }
        /* mute button */
        audio::-webkit-media-controls-mute-button {
            border-radius: 100%;
            background-color: brown;
            border-radius: 100%;
        }
        /* this is bg black */
        audio::-webkit-media-controls-panel {
            background-color: black;
        }
    }
    
    @media (max-width:770px) and (min-width:500px) {
        .searchcontent::after {
            content: "🔎";
        }
        .changeaudiotext::after {
            content: "Add Audio";
        }
        .customaudiobox {
            width: 90vw;
            height: 44vw;
            display: inline-block;
            margin: 5vw 5vw 1vw 5vw;
            padding: 5vw 1vw 2vw 1vw;
            border-radius: 10%;
        }
        .customimage {
            width: 23vw;
            display: inline;
            border-radius: 50%;
            height: 20vw;
            margin-bottom: 3vw;
            margin-right: 5vw;
        }
        .audiotitle {
            display: inline;
        }
        audio {
            /*border-radius: 90px;*/
            width: 250%;
            height: 20%;
            margin-top: 5%;
            margin-bottom: 5%;
        }
        audio::-webkit-media-controls-timeline {
            background-color: turquoise;
            border-radius: 3000rem;
            margin-left: 1%;
            margin-right: 1%;
        }
        audio::-webkit-media-controls-volume-slider {
            border-radius: 25%;
            background-color: brown;
            /* border-radius: 25px 0px 0px 25px; */
            padding-left: 8%;
            padding-right: 8%;
        }
        /* TIME */
        audio::-webkit-media-controls-time-remaining-display {
            color: red;
            font-size: 100%;
        }
        audio::-webkit-media-controls-current-time-display {
            color: cyan;
            font-size: 100%;
            margin-left: 1%;
        }
        audio::-webkit-media-controls-play-button {
            /* color: violet; */
            padding-left: 2%;
            background-color: turquoise;
            border-radius: 100%;
        }
        /* mute button */
        audio::-webkit-media-controls-mute-button {
            border-radius: 100%;
            background-color: brown;
            border-radius: 100%;
        }
        /* this is bg black */
        audio::-webkit-media-controls-panel {
            background-color: black;
        }
    }
    
    @media (max-width:500px) and (min-width:310px) {
        .searchcontent::after {
            content: "🔎";
        }
        .changeaudiotext::after {
            content: "Add";
        }
        .customaudiobox {
            width: 90vw;
            height: 47vw;
            display: inline-block;
            margin: 5vw 5vw 1vw 5vw;
            padding: 5vw 1vw 2vw 1vw;
            border-radius: 10%;
        }
        .customimage {
            width: 23vw;
            display: inline;
            border-radius: 50%;
            height: 20vw;
            margin-bottom: 2vw;
            margin-right: 5vw;
        }
        .audiotitle {
            display: inline;
            font-size: 5vw;
        }
        .dateortime {
            font-size: 3vw;
        }
        audio {
            /*border-radius: 90px;*/
            width: 250%;
            height: 30%;
            margin-top: 5%;
            margin-bottom: 5%;
        }
        audio::-webkit-media-controls-timeline {
            background-color: turquoise;
            border-radius: 3000rem;
            margin-left: 1%;
            margin-right: 1%;
        }
        audio::-webkit-media-controls-volume-slider {
            border-radius: 25%;
            background-color: brown;
            /* border-radius: 25px 0px 0px 25px; */
            padding-left: 1%;
            padding-right: 1%;
        }
        /* TIME */
        audio::-webkit-media-controls-time-remaining-display {
            color: red;
            font-size: 100%;
        }
        audio::-webkit-media-controls-current-time-display {
            color: cyan;
            font-size: 100%;
            margin-left: 1%;
        }
        audio::-webkit-media-controls-play-button {
            /* color: violet; */
            padding-left: 2%;
            background-color: turquoise;
            border-radius: 100%;
        }
        /* mute button */
        audio::-webkit-media-controls-mute-button {
            border-radius: 100%;
            background-color: brown;
            border-radius: 100%;
            margin-right: -10%;
        }
        /* this is bg black */
        audio::-webkit-media-controls-panel {
            background-color: black;
        }
    }
    
    @media (max-width:310px) and (min-width:10px) {
        .searchcontent::after {
            content: "🔎";
        }
        .changeaudiotext::after {
            content: "Add";
        }
        .customaudiobox {
            width: 90vw;
            height: 100vw;
            display: inline-block;
            margin: 5vw 5vw 1vw 5vw;
            padding: 5vw 1vw 2vw 1vw;
            border-radius: 10%;
        }
        .customimage {
            width: 40vw;
            display: inline;
            border-radius: 50%;
            height: 30vw;
            margin-bottom: 2vw;
            margin-right: .5vw;
        }
        .audiotitle {
            display: inline;
            font-size: 7vw;
        }
        .dateortime {
            font-size: 5vw;
        }
    }
</style>




<div class="container mt-5">

    <form method="get" action="" class="d-flex">
        <input class="form-control me-2" name="search" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-success searchcontent" type="submit"></button>
    </form>
</div>

{% load humanize %} {% for audio in audios %}

<div class='row container  bg-secondary  border border-dark rounded-3  customaudiobox'>
    <img src="{{audio.cover.url}}" class="customimage" alt="">
    <div style="display: inline;" class="audioinfo">

        <span class="mb-2" style="display: inline-block;"><h3 class="audiotitle">{{audio.title|title}}</h3>
            <br>
            
        <span class="mb-2 dateortime ml-4 d-inline">{{audio.user.first_name|title}}</span>
        <span class="mb-2 dateortime p-0 d-inline">-</span>
        <span class="mb-2 dateortime d-inline">{{audio.date|date:"M d, Y"}}</span>
        </span>
    </div>
    <audio controls class="my-3">
        <source src="{{audio.audio.url}}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
</div>

{% endfor %} {% endblock body %}