{% extends 'base.html' %} {% block title %} {{user.first_name|title}} {{user.last_name|title}} {% endblock title %} {% block body %}
<style>
    .bta {
        margin-left: -50%;
    }
    
    audio {
        /*border-radius: 90px;*/
        width: 250px;
        height: 45px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    audio::-webkit-media-controls-timeline {
        background-color: turquoise;
        border-radius: 25px;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    audio::-webkit-media-controls-volume-slider {
        border-radius: 25%;
        background-color: brown;
        /* border-radius: 25px 0px 0px 25px; */
        padding-left: 8px;
        padding-right: 8px;
    }
    /* TIME */
    
    audio::-webkit-media-controls-time-remaining-display {
        color: red;
    }
    
    audio::-webkit-media-controls-current-time-display {
        color: cyan;
        margin-left: 3%;
    }
    
    audio::-webkit-media-controls-play-button {
        /* color: violet; */
        padding-left: 2%;
        background-color: turquoise;
        border-radius: 100%;
    }
    /* mute button */
    
    audio::-webkit-media-controls-mute-button {
        border-radius: 100%;
        background-color: brown;
        border-radius: 100%;
    }
    /* this is bg black */
    
    audio::-webkit-media-controls-panel {
        background-color: black;
    }
</style>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb text-center my-3 mx-5">
        <li class="breadcrumb-item active"><a href="#videoprofile">Videos</a></li>
        <li class="breadcrumb-item"><a href="#audioprofile">Audios</a></li>
    </ol>
</nav>
{% load humanize %}
<div class="container">

    <form method="get" action="" class="d-flex">
        <input class="form-control me-2" name="search" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-success" type="submit">Search</button>
    </form>
</div>
<h1 id="videoprofile" class="text-center my-3 text-light">Videos</h1>
<hr> {% for video in videos %}


<div class='row container py-3 bg-secondary mx-5 border border-dark rounded-3  d-inline-block my-5'>

    <video name='video' autoplay="false" controls width='70%' height='60%'>
        <source src="{{video.video.url}}" type="video/mp4"></source>
	</video>
    <h3 class="mb-4 d-block ">{{video.title|title}}</h3>
    <hr>
    <span class="mb-4 ml-4 d-inline">{{video.name|title}}</span>
    <span class="mb-4 p-0 d-inline">-</span>
    <span class="mb-4 d-inline">{{video.date|naturaltime}}</span> {% if video.onhide == True %} 🔒 {% else %} 🔓 {% endif %}
    <!-- Default dropup button -->
    <li style="list-style-type: none; margin-left: 90%;" class="nav-item dropdown d-inline ">
        <a class="nav-link dropdown-toggle text-dark d-inline " href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">More</a>
        <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
            <li><a class="dropdown-item" href="onvdelete/{{video.sno}}">Delete</a></li>
            {% if video.onhide == True %}
            <li><a class="dropdown-item" href="onvunhide/{{video.sno}}">Make Public</a></li>
            {% else %}
            <li><a class="dropdown-item" href="onvhide/{{video.sno}}">Make Private</a></li>
            {% endif %}
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Reprot</a></li>
        </ul>
    </li>


</div>
{% endfor %}
<hr>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb text-center my-3 mx-5">
        <li class="breadcrumb-item"><a href="#videoprofile">Videos</a></li>
        <li class="breadcrumb-item active"><a href="#audioprofile">Audios</a></li>
    </ol>
</nav>
<h1 id="audioprofile" class="text-center my-3 text-light">Audios</h1>
<hr> {% for audio in audios %}

<div class='row container py-3 bg-secondary mx-5 border border-dark rounded-3  d-inline-block my-5'>
    <img src="{{audio.cover.url}}" class=" mb-4" width="40" height="300" alt="">
    <h3 class="mb-4 d-block">{{audio.title|title}}</h3>

    <audio controls class="my-3">
        <source src="{{audio.audio.url}}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    <span class="mb-4 ml-4 d-inline">{{audio.name|title}}</span>
    <span class="mb-4 p-0 d-inline">-</span>

    <!-- Default dropup button -->
    <li style="list-style-type: none; margin-left: 90%;" class="nav-item dropdown d-inline ">
        <a class="nav-link dropdown-toggle text-dark d-inline " href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">More</a>
        <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
            <li><a class="dropdown-item" href="onadelete/{{audio.sno}}">Delete</a></li>
            <li><a class="dropdown-item" href="onahide/{{audio.sno}}">Make Private</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Reprot</a></li>
        </ul>
    </li>
</div>

{% endfor %} {% endblock body %}